body {
    background-color: rgb(0, 12, 0);
    color: rgb(60, 194, 60);
    flex-direction: column;
    font-size: large;
}

p {
    color: rgb(60, 194, 60);
    font-family: "Courier";
    font-size: 20px;
    margin: 10px 0 0 10px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    animation: type 4s steps(300, end);
}

@keyframes type {
    from {
        width: 10%;
    }

    ;
}


.flexbox {
    display: flex;
}

.hidden {
    display: none;
}


